.header .full-name
    position: relative
    margin: 0
    margin-bottom: toRem(30)
    
    @media screen and (min-device-aspect-ratio: 2/3) and (orientation : landscape)
        margin-bottom: toRem(10)

.header .full-name span
    display: inline-block
    padding: toEm(10)
    color: $header_item_high_light
    background: $slide_4_static
    text-transform: uppercase

.header .full-name::before
    border-top: 2px solid $header_item_static
    content: ''
    margin: 0 auto
    position: absolute
    top: 50%
    left: 0
    right: 0
    bottom: 0
    z-index: -1
    width: 0
    transition: .5s cubic-bezier(0,.61,.07,.91)
    transition-delay: 850ms

.header.active .full-name::before
    width: 80%
    max-width: 680px