.header.active nav li:nth-child(1)
    animation-delay: 1000ms

.header.active nav li:nth-child(2)
    animation-delay: 1050ms

.header.active nav li:nth-child(3)
    animation-delay: 1100ms

.header.active nav li:nth-child(4)
    animation-delay: 1150ms

.header.active nav li
    animation: nav-in $transition-time $easeOutBack forwards