- nav_list = {home: 'Home', about: 'About', projects: 'Projects', contact: 'Contact'}

nav.header-nav
    ul.unstyled-list
        each menu_item, index in nav_list
            li
                a(href="#" + index)= menu_item