- for (var i = 0; i < 5; i++)
    if (i == 4)
        div.v-align(class="slide-" + i)
            .v-wrapper
                h2.full-name
                    span #{full_name}
                include nav/nav
    else
        div(class="slide-" + i)