- for (var i = 0; i < 5; i++)
    if (i == 4)
        div(class="slide-" + i)
            .wrapper
                span.full-name #{full_name}
                include nav/nav
    else
        div(class="slide-" + i)