$presentation-tooltip-text-color:       #fff
$presentation-tooltip-background-color: #424242
$presentation-tooltip-box-shadow-color: 0 0 20px rgba(#000, .1)

$footer-text-color:       #c3c3c3
$footer-background-color: #181818

/**!
  # SECTION
 ************************************/

.section
  color: $section-text-low-contrast

  &:nth-child(odd)
    background: $section-background

  &:nth-child(even)
    background: darken($section-background, 5%)
      
  /**!
    #STYLES FOR SECTION HEADER
   */
  &--title
    font-family: $font-family-secondary
    color:       $section-text-high-contrast




/**!
  # INTRO
 ************************************/

.introduction
  background: transparent !important
  
  &--balloon
    background: $purple
    color:      white

    &::after
      border-top-color: darken($purple, 5%)

  &--text
    font-family: $font-family-secondary
    color:       $intro-color




/**!
  # JUMPER
 ************************************/

#jumper
  color:     $purple
  animation: 2s infinite jump-animation ease-in-out

@keyframes jump-animation
  0%
    transform: translateY(0)
  50%
    transform: translateY($jumper-translateY)
  100%
    transform: translateY(0)



/**!
  # PRESENTATION
 ************************************/

.presentation
  &--picture
    box-shadow: $intro-picture-shadow

  &--name
    color: $yellow

    &--tooltip
      background:    $presentation-tooltip-background-color
      color:         $presentation-tooltip-text-color
      box-shadow:    $presentation-tooltip-box-shadow-color
      transform:     translateY(20px)
      opacity:       0
      border-radius: 25px
      transition:    $transition-time

      &::after
        border:           10px solid transparent
        border-top-color: $presentation-tooltip-background-color

  &--link
    font-family:  $font-family-secondary
    border-color: $yellow

    &.left
      background: $yellow
      color:      $section-background

    &.right
      color: $yellow





/**!
  # PROJECTS
 ************************************/

.project-item
  &--name
    color:      $section-text-high-contrast
    transition: $transition-time

    &:hover
      color: $purple



      

/**!
  # PROJECTS
 ************************************/
.techs
  &--arrow
    color:      $techs-arrow-color
    transition: $transition-time

    &:hover
      color: $techs-arrow-color-hover




.git
  &--form
    &--input
      color:      #a8a8a8
      background: #151515
      transition: $transition-time

#git-submit-btn
  background:     $red
  color:          white
  transition:     $transition-time

  &:hover
    background: lighten($red, 5%)




.footer
  width:      100%
  background:  $footer-background-color

  &--social--link
    color:      $footer-text-color
    border:     2px solid $footer-text-color
    transition: $transition-time

  &--link
    transition: $transition-time

    &:hover
      color:        $purple
      border-color: $purple





/**!
  # HAMBURGUER
 ************************************/

.hamburguer

  // STYLES AND ANIMATIONS FOR HAMBURGUER LINES
  &--line
    background-color: $grey

  // TO BE APPLIED WHEN THE `.hamburguer` `.is-active:hover`
  &--is-active-and-hover-theme
    background: darken($grey, 10%)