.footer
  padding:          10px
  background-color: #f3f3f3

  @media (max-width: 449px)
    text-align: center

  @media (min-width: 450px)
    > .container
      display:         flex
      align-items:     center
      justify-content: space-between

  .copyright
    margin-bottom: 0
    color:         #586069
    font-size:     14px

    @media (max-width: 449px)
      margin: 1em 0

  .socials
    display:         flex
    justify-content: center

    &__item
      &__link
        display:    inline-block
        padding:    10px 20px
        font-size:  1em
        color:      #828282
        transition: $transition-time

        &:hover
          color: #545454
