.footer
  background: #4c4c4c
  padding: 15px
  
  .socials
    display: flex
    justify-content: center

    &__item      
      &__link
        display: inline-block
        padding: 15px 25px
        font-size: 1rem
        color: #fff
        transition: $transition-time

        &:hover
          transform: scale(1.5)