.get-in-touch
  background: #fafafa

  .header
    margin:        0 auto
    margin-bottom: 4em
    max-width:     680px
    text-align:    center

    &__title
      margin-bottom: 2em

    &__text
      color: #6e6e6e

  &__form
    max-width: 430px
    margin: 0 auto

    .form__item
      margin-bottom: 1em

    .form__input
      border: 0
      border-bottom: 2px solid #ccc
      background: transparent
      padding: 15px 0
      width: 100%
      font-size: 1em
      transition: $transition-time

      &:focus
        outline: none
        border-color: $primary

    &__message-textarea
      min-height: 150px

    &__submit-button
      display: block
      margin: 0 auto
      font-size: 1em
      padding: 15px
      margin-top: 60px
      text-transform: uppercase