.intro
  display:         flex
  align-items:     center
  justify-content: center
  height:          100%

  // Applies this line-height only in small screens
  @media (max-width: 767px)
    line-height: 1.5

  @media (min-width: 768px)
    font-size: 22px

  &__title
    font-size:     1.5em
    font-weight:   700
    margin-bottom: 1rem

  &__subtitle
    color:       #666
    font-weight: 500
    font-size:   1em

    // On hover the email
    a
      color: lighten($primary, 20%)

      &:hover
        text-decoration: underline

#goToWhatICanDo
  position:    absolute
  bottom:      5%
  display:     block
  margin-left: -15px
  padding:     15px
  font-size:   2em
  color:       $text-mute-color
  animation:   scrollAnimation 3s 8s ease-in-out infinite
  transition:  $transition-time
  border:      none
  outline:     none

  &:hover
    color: $primary

@keyframes scrollAnimation
  0%
    transform: translateY(0%)
  50%
    transform: translateY(-20%)
    color: $primary
  100%
    transform: translateY(0%)