.navigation
  position:    absolute
  top:         0
  left:        0
  right:       0
  padding-top: 15px
  border-top:  2px solid #7652ad

  .container
    display:         flex
    align-items:     center
    justify-content: space-between

  &__brand
    display:     inline-block
    line-height: 1rem

    @media (min-width: 360px)
      font-size: 1.25rem

    &__name
      color:           #747474
      text-decoration: none

      &:hover
        color: $primary

    &__area
      display:     block
      color:       $text-mute-color
      line-height: 2

  &__link
    text-decoration: none
    color:           lighten($primary, 30%)
    font-size:       .8em
    transition:      $transition-time

    &:hover
      color: $primary