.projects
  @extend .section

  &__item
    display: flex
    @extend .col-md-6

  .card
    &__head__title
      font-size: 1.5rem
    &__footer
      &__link
        display:    block
        margin-top: .5rem