.what-i-can-do
  background: #fdfdfd

  &__item
    display: flex

    @extend .col-md-4

  .card
    position:   relative
    text-align: center

    &::after
      position:      absolute
      top:           -5px
      left:          50%
      transform:     translateX(-50%)
      content:       ''
      height:        10px
      width:         100px
      opacity:       0
      background:    $primary
      border-radius: 10px
      transition:    $transition-time

    &:hover
      transform: translateY(-5px)

      &::after
        opacity: 1

    &__body
      padding: 15px

    &__header
      font-size: .8em

      &__title
        margin-bottom: 1em

      &__description
        margin-bottom: 0
        font-size:     1rem

    @media (min-width: 768px)
      &__head
        height: 170px

      &__header
        font-size: 1em
