$primary:       #673AB7
$primary_light: lighten($primary, 50%)
$primary_dark:  darken($primary, 3%)
$black:         #000
$white:         #fff

$brand-mute-color: #C1C1C1

$font-family: 'Quicksand', sans-serif

$text-color:         #3c3c3c
$text-mute-color:    #c9c9c9
$text-content-color: #5f5f5f

$transition-time: .3s