@import 'vars'
@import 'vendors'
@import 'fonts'
@import 'shared'
@import 'pages'

html,
body,
#main
  height: 100%

body
  font-family: $font-family
  font-size:   $font-size
  font-weight: 500
  line-height: 1.75

h1,
h2
  font-weight: 700