@import 'nav'
@import 'humburguer/humburguer'

.header
    position: fixed
    top: 0
    bottom: 0
    width: 100%
    background: $header-sm-bg
    // Fallback for browser that doens't
    // support transparense, e.g.: Opera-mini.
    //background: $header-bg
    //background: transparent
    z-index: 99
