.header-nav
    text-align: center
    text-transform: uppercase

.header-nav a
    display: block
    font-size: toEm(32)
    padding: toRem(10)
    color: $header-sm-nav-color
    transition: $transition-time

.header-nav a:hover
    color: $header-sm-nav-hover-color