.header .social
    opacity: 0
    margin-top: rem(30)

    @media screen and (max-width: 767px) and (orientation : landscape)
        margin-top: rem(10)

.header.active .social
    animation: nav-in $transition-time cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
    animation-delay: 1550ms

.header .social li
    display: inline-block

.header .social a
    display: inline-block
    color: $header_item_static
    border: 2px solid $header_item_static
    border-radius: 300px
    width: 54px
    height: 54px
    margin: 5px
    line-height: 54px
    transition: $transition-time

    i
        font-size: rem(24)

.header .social a:hover
    color: $header_item_hover
    border-color: $header_item_hover
    transform: translateY(-10%)