#get-in-touch
    background: $get_in_touch_bg

.get-in-touch input, .get-in-touch textarea, .get-in-touch button
    background: transparent
    border: 2px solid $get_in_touch_static
    color: $get_in_touch_static
    font-size: 18px
    padding: 15px
    margin: 5px