$base-size: 16

@import 'agil'
@import 'colors/colors'
@import 'vars/vars'
@import 'functions/functions'

//@font-face
    font-family: 'Source Sans Pro'
    src: url('../../externals/SourceSansPro-Regular.ttf')

//@font-face
    font-family: 'Lobster Two'
    src: url('../../externals/LobsterTwo-Regular.ttf')

html, body
    height: 100%

body
    font-family: 'Source Sans Pro', sans-serif
    font-size: em(16)
    background: $body_bg

// Remove a porcaria dos pontos
// que ficam em volta às áncoras
// ao clicar nelas
a
    outline: none
    text-decoration: none

.no-overflow
    overflow: hidden

.main
    height: 100%

@import 'section'
@import 'animations/header'
@import 'header/header'
@import 'presentation/presentation'
@import 'intro/intro'
@import 'projects'
@import 'techs'
@import 'get-in-touch'