$base-size: 16

@import 'hagil'
@import 'colors/colors'
@import 'vars/vars'
@import 'functions/functions'
@import 'header/header'
@import 'presentation/presentation'

html, body
    height: 100%

body
    font-family: 'Source Sans Pro', sans-serif
    font-size: toEm(16)
    background: $body-bg
    overflow-x: hidden

// Remove a porcaria dos pontos
// que ficam em volta às áncoras
// ao clicar nelas
a
    outline: none
    text-decoration: none

.main
    height: 100%
