.presentation
    display: table
    text-align: center

.presentation-barner
    position: relative
    display: table-cell
    vertical-align: middle

.presentation, .presentation-barner
    height: inherit

.presentation-text
    margin: 0
    text-align: left
    font-family: 'LobsterTwo', sans-serif
    font-size: toEm(100)
