.projects
    color: $projects_static

.projects .title
    color: $project_color

.project
    min-height: 210px
    padding: em(25) em(25) 0 em(25)
    
.project .name
    font-size: em(32)
    color: $project_color
    
    &:hover
        color: darken($project_color, 20%)