.projects
    background: $projects_bg
    color: $projects_static

    .title
        color: $projects_static

    @media only screen and (max-width: 767px)
        height: auto

.project
    padding: em(25) em(25) 0 em(25)
    
    .name
        font-size: em(32)
        font-family: 'Lobster Two', cursive
        color: $projects_static
        
        &:hover
            color: darken($projects_static, 20%)

    @media only screen and (min-width: 768px)
        min-height: 210px