.section
    padding-top: em(35)
    padding-bottom: em(35)
    width: 100%

.section .title
    font-size: em(44)
    font-weight: normal
    margin-top: 0

.section .title, .section a
    font-family: 'Lobster Two', cursive

.section .description
    font-size: em(18)
    padding-left: em(20)
    padding-right: em(20)

@media only screen and (min-width: 768px)
    .section
        height: 100%

        .container
            height: inherit

        .title
            margin-bottom: rem(20)