.techs
    background: $techs_bg
    color: $techs_static

.techs .icon
    display: block
    padding-top: rem(40)
    padding-bottom: rem(40)
    text-rendering: optimizeLegibility
    font-size: 4em

.techs .name
    font-family: 'Lobster Two', cursive