// Colors
$red:  #bc2626
$grey: #ccc

$body-background: #f6f6f6

/// .techs
$techs-arrow-color: #545454
$techs-arrow-color-hover: #ddd

// Transitions
$global-transition-time: .3s

// Navbar
$navbar-height: 90px

/// Humburguer
$humburguer-padding: 8px
$humburguer-right:   26px
$humburguer-z-index: 9999

$humburguer-line-height:     2px
$humburguer-line-width:      25px
$humburguer-line-margin-y:   4px
$humburguer-line-translate:  6px
$humburguer-line-rotate-deg: 135deg

// .git
$git-form-item-border-radius: 3px
$git-form-item-padding:       20px
$git-form-item-margin:        15px 0
$git-form-item-width:         100%

// .git .form-input
$git-form-input-color:            #a8a8a8
$git-form-input-background:       #151515
$git-form-input-hover-box-shadow: 0 0 2px $red

/// #btn-ttm
$btn-ttm-text-color: #e0e0e0