section#get-in-touch.get-in-touch.section.v-align.centered
    .v-wrapper
        .container.text-center
            h1.title Want to get in touch? Use the form below!
            
            form.form#get-in-touch-form
                input(placeholder="Name*" required="required")
                input(placeholder="E-mail*" required="required" type="email")
                textarea(placeholder="Message*" required="required")
                button(type="submit" form="#get-in-touch-form") Submit