section.get-in-touch   
    form.form.get-in-touch-form
        h1.title Get in touch!
        h1.tile
            span.fa.fa-smile-o

        input.form-item.form-input(placeholder="What's your name?" required="required")
        input.form-item.form-input(placeholder="Your E-mail address" required="required" type="email")
        textarea.form-item.form-input(placeholder="Leave a message...")
        button#btn-ttm.form-item(type="submit" form="#get-in-touch-form") Talk to me
