head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title e200.github.io
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lobster+Two|Source+Sans+Pro")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    
    link(rel="stylesheet", href="assets/css/e200.css")
    script(src="assets/js/e200.js")