section.intro
    .container
        img(src="assets/img/me.jpg").pic
        
        h1.title
            |Yes, that's me! 
            span.name #{full_name}

        p.description A Developer and Web Designer based in Luanda, Angola
        p.description I design solutions for the web and help people building better UIs

        a(href="#" target="_blank").mam.l More about me
        a(href="#" target="_blank").mam.r Donwload CV