section.intro.mb-4
    .container
        .intro-pic.bg-img.centered
        
        h1.intro-title
            |Yo, it's me. 
            span.intro-name Eleandro Duzentos

        p.intro-areas Frontend + C# + PHP and aspiring Android developer.

        p.intro-description I design solutions for the web and help people building better UIs.

        a(href="#about") More about me