section.intro.section.text-center.v-align
    .v-wrapper
        .container
            img(src="assets/img/me.jpg").pic
            
            h1.title
                |Yes, that's me, 
                span.name #{full_name}

            p.description A Developer and Web Designer based in Luanda, Angola
            p.description I design solutions for the web and help people building better UIs

            a(href="#about").mam More about me