- var myName = 'e200'

- var thingsILove = ['thinking', 'tea', 'music', 'space', 'colors', 'Linux']

section.presentation
    .presentation-barner
        h1.presentation-text
            .hi-balloon Hi,

            |I'm 
            span.my-name #{myName},
            br
            |a Web Designer &amp; dreamer
            br
            | who loves 

            span.things_i_love
                each thing, i in thingsILove
                    if (i == 0)
                        span.active #{thing}
                    else
                        span #{thing}