section.techs(style="height: auto")
    .container.text-center
        h1.title Techs
        
        .techs-slider
            each tech in techs
                .tech.xs-6.md-2
                    i.icon(class="devicon-" + tech.icon + "-plain" title=tech.text)
                    span.name #{tech.text}
        
        a(href="#").arrow.prev
            span.fa.fa-chevron-left
        a(href="#").arrow.next
            span.fa.fa-chevron-right