section#techs.techs.section.v-align.centered(style="height: auto")
    .v-wrapper
        .container.text-center
            h1.title Techs
            
            .techs-slider
                each tech in techs
                    .tech.item.xs-6.md-2
                        i.icon(class="devicon-" + tech.icon + "-plain" title=tech.text)
                        span.name #{tech.text}