section#techs.techs.section.v-align.centered
    .v-wrapper
        .container.text-center
            h1.title Techs
            each tech in techs
                .tech.sm-4.md-2
                    i.icon(class="devicon-" + tech.icon + "-plain" title=tech.text)
                    span.name #{tech.text}