section.techs.section.v-align.centered
    .v-wrapper
        .container.text-center
            h1.title Techs
            each icon in technology_icons
                .sm-4.md-2
                    i.icon(class="devicon-" + icon + "-plain")