section#techs.techs.section
    .container
        h1.section__title Techs

        p.section__description Technologies I work with
        
        .techs__slider
            each tech in techs
                .techs__item
                    i.techs__item__icon(class="devicon-" + tech.icon + "-plain" title=tech.text)
                    span.techs__item__name #{tech.text}
        
        a(href="#").techs__arrow.prev
            span.fa.fa-chevron-left
        a(href="#").techs__arrow.next
            span.fa.fa-chevron-right