.intro
    background: $intro_static
    color: #ededed
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

.intro .pic
    max-width: 160px
    width: 100%
    height: auto
    border-radius: 300px
    box-shadow: 0 0 20px $intro_pic_shadow
    z-index: 9999

.intro .title
    font-size: em(34)
    text-rendering: optimizeLegibility
    // Overrides the .section .title
    // margin: 0 with default value
    margin-top: .67em

.intro .name
    color: $intro_highlight

.intro .description
    font-size: em(14)

.intro .mam
    display: inline-block
    padding: em(10)
    color: $intro_static
    background: $intro_highlight
    border-radius: 5px
    margin-top: em(20)

    &:hover
        background: lighten($intro_highlight, 10%)

@media only screen and (min-width: 768px)
    .intro .pic
        max-width: 200px

    .intro .title
        font-size: em(48)

    .intro .description,
    .intro .mam
        font-size: rem(24)

// @media screen and (device-aspect-ratio: 2/3) {}

// // iPhone 5:
// @media screen and (device-aspect-ratio: 40/71) {}

// // iPhone 6:
// @media screen and (device-aspect-ratio: 375/667) {}

// // iPhone 6 Plus:
// @media screen and (device-aspect-ratio: 16/9) {}

// // iPad:
// @media screen and (device-aspect-ratio: 3/4) {}