.card
  display:        flex
  flex-direction: column
  overflow:       hidden
  margin-bottom:  35px
  background:     lighten($primary, 5%)
  width:          100%
  border-radius:  5px
  box-shadow:     0 8px 35px 0px rgba($black, .2)

  &__head
    display:         flex
    align-items:     center
    justify-content: center
    height:          180px
    color:           $white
    transition:      $transition-time

  &__body
    display:       flex
    flex:          1
    padding:       15px
    color:         #5d5767
    border-top:    1px solid $primary
    border-radius: 0 0 5px 5px

  &__header
    &__link
      text-decoration: none
      color: $white

    &__title
      text-transform: uppercase
      margin-bottom:  .5rem
      font-size:      1.25rem

    &__description
      color:       $white
      line-height: 2

    @media (max-width: 991px)
      &__description
        font-size: .9rem

  &.horizontal
    flex-direction: row

    .card
      &__head
        width:  170px
        height: inherit

        &__title
          font-size: 3rem

      &__header
        display: flex
        flex-direction: column
        flex: 2

      &__body
        position:       relative
        display:        flex
        flex-direction: column
        border-top:     0

      &__footer
        border-top: 1px solid $primary

        &__link
          color: $white

        &:before
          content:    ''
          width:      100%
          height:     100%
          position:   absolute
          left:       0
          top:        -49px