- var nick_name = 'e200'
- var full_name = 'Eleandro Duzentos'
- var words = ['code', 'tea', 'cats', 'music', 'space', 'purple']
-
    var socials = {
        facebook: { icon: 'facebook', address: 'https://www.facebook.com/eleandro.duzentos' },
        github: { icon: 'github-alt', address: 'https://github.com/e200' },
        linkedin: { icon: 'linkedin', address: 'https://www.linkedin.com/in/e200-career/' }
    }
    var techs = [
        { icon: 'html5', text: 'HTML 5' },
        { icon: 'css3', text: 'CSS 3' },
        { icon: 'jquery', text: 'jQuery' },
        { icon: 'sass', text: 'Sass' },
        { icon: 'gulp', text: 'Gulp' },
        { icon: 'javascript', text: 'Javascript' },
        { icon: 'bootstrap', text: 'Bootstrap' },
        { icon: 'php', text: 'PHP' },
        { icon: 'codeigniter', text: 'CodeIgniter' },
        { icon: 'laravel', text: 'Laravel' },
        { icon: 'dot-net', text: '.NET' },
        { icon: 'csharp', text: 'C#' },
        { icon: 'c', text: 'C' },
        { icon: 'git', text: 'Git' },
        { icon: 'linux', text: 'Linux' },
        { icon: 'ubuntu', text: 'Ubuntu' },
        { icon: 'mysql', text: 'MySQL' },
        { icon: 'android', text: 'Android' }
    ]
    var projects = {
        makeaccessible: {
                name: 'Make/Accessible',
                address: 'https://github.com/e200/MakeAccessible',
                description: 'Lightweight PHP package that let you test singleton classes and inaccessible (private or protected) instance members.'
            },
        anotherjs: {
            name: 'anotherJS',
            address: 'https://github.com/e200/anotherJS', description: 'Smaller JS library for those Frontends who makes most things using pure CSS...'
            },
        sliderplex: {
            name: 'SliderPlex',
            address: 'https://github.com/e200/SliderPlex',
            description: 'A simple and responsive jQuery content slider plugin.'
            },
        unity: {
            name: 'Unity framework',
            address: 'https://github.com/unity-framework',
            description: 'PHP MVC based framework.'
            },
        genesdecypher: {
            name: 'GenesDecypher',
            address: 'https://github.com/e200/GenesDecypher',
            description: 'A genetic decypher written in C, for a school work of a client at Universidade Metodista de Angola. '
            },
        reegex: {
            name: 'Reegex',
            address: 'https://github.com/e200/Reegex',
            description: 'WPF based Regex tester.'
            }
        }