- var nick_name = 'e200'
- var full_name = 'Eleandro Duzentos'
- var words = ['code', 'tea', 'music', 'space', 'purple']
- var socials = { facebook: { icon: 'facebook', address: 'https://www.facebook.com/eleandro.200' }, github: { icon: 'github-alt', address: 'https://github.com/e200' }, linkedin: { icon: 'linkedin', address: 'https://www.linkedin.com/in/e200-career/' } }