//      ____   ___   ___  
//  ___|___ \ / _ \ / _ \ 
// / _ \ __) | | | | | | |
//|  __// __/| |_| | |_| |
// \___|_____|\___/ \___/ 
// If you'ew the kind of person who reads others source code, i have a challange for you: https://e200.github.io/challenge.html

html(lang="en")
    include components/head.pug
    body
        main.main
            include components/header
            include components/presentation