doctype html

html(lang="en")
    include vars
    include components/head.pug
    
    body
        main.main
            include components/header/header
            include components/presentation

        script(src="https://e200.github.io/anotherJS/dist/another.js")
        script(src="assets/js/e200.js")