doctype html

html(lang="en")
    include data
    include components/head.pug
    
    body.preload
        main.main
            include components/header
            include components/presentation
            include components/intro

        script(src="https://e200.github.io/anotherJS/dist/another.js")
        script(src="assets/js/master.js")