doctype html

html(lang="en")
    include data
    include components/head.pug
    
    body.preload
        main#main
            include components/header
            include components/presentation
            include components/intro
            include components/projects
            include components/techs
            include components/git

            a(href="#").btt
                .outter
                    span.fa.fa-long-arrow-up

        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
        script(src="assets/js/master.js")