doctype html

html(lang="en")
    include data
    include components/head.pug
    
    body.preload
        main#main.main
            include components/header
            include components/presentation
            include components/intro
            include components/projects
            include components/techs
            include components/get-in-touch

        script(src="https://cdnjs.cloudflare.com/ajax/libs/force-js/0.1.2/force.min.js")
        script(src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
        script(src="https://e200.github.io/anotherJS/dist/another.js")
        script(src="assets/js/master.js")