.nav
  padding: 15px 15px 0 15px
  border-top:  2px solid $primary

  &__header
    display: inline-block
    line-height: 1.5rem
    font-size: 1.25rem

  &__brand
    color: $text-color
    text-decoration: none

    &__subtitle
      display: block
      color: $text-mute-color