@em: 16px*1em;
@prefixes: o, ms, moz, webkit;

@import "boost";
@import "header";

@page-bg-color: #f6f6f6;

html, body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: @em;
  background-color: @page-bg-color;
}

a {
  text-decoration: none;
  outline: none;
}