#hi-balloon
    position: absolute
    top: -50px
    left: -6px
    padding: 0 rem(6)
    background: $hi-balloon-bg
    font-size: .6em
    text-align: center
    color: white
    border-radius: 300px

    @media only screen and (min-width: 425px)
        top: -55px;
        left: 4px;

#hi-balloon::after
    content: ''
    position: absolute
    bottom: -9px
    left: 17px
    border: 15px solid transparent
    border-bottom: 0
    border-left: 0
    border-top-color: $hi-balloon-arrow-bg
    z-index: -1