@import 'presentation/balloon'
@import 'presentation/words'

.presentation
    margin: 0 auto
    padding-left: toEm(35)
    padding-right: toEm(35)

.presentation-text
    display: inline
    position: relative // For .hi-svg absolute position
    margin: 0 // Reset for h1 margins
    text-align: left // Overrides .presentation text-align
    font-family: 'Lobster Two', cursive
    color: $presentation-text-color
    line-height: 1.5



/* ----------- iPhone 4 and 4S ----------- */

$iphone4s-min-wi:  (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)'
$portrait:  'and (orientation: portrait)'
$landscape: 'and (orientation: landscape)'

/* Portrait and Landscape */
@media only screen and #{$iphone4s}

/* Portrait */
@media #{$iphone4s $portrait}

/* Landscape */
@media #{$iphone4s $landscape}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

// /* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2) {

// }

// /* Portrait */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
// }

// /* Landscape */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {

// }

// /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

// /* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2) { 

// }

// /* Portrait */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) { 

// }

// /* Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) { 

// }

// /* ----------- iPhone 6+, 7+ and 8+ ----------- */

// /* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3) { 

// }

// /* Portrait */
// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: portrait) { 

// }

// /* Landscape */
// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: landscape) { 

// }

// /* ----------- iPhone X ----------- */

// /* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3) { 

// }

// /* Portrait */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: portrait) { 

// }

// /* Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: landscape) { 

// }



// @media (min-width: 360px)
//     font-size: toRem(44.8)
// @media (min-width: 768px)
//     font-size: toRem(50)
// @media (min-width: 980px)
//     font-size: toRem(60)
// @media (min-width: 1280px)
//     font-size: toRem(70)
// @media (min-width: 1360px)
//     font-size: toRem(80)