@import 'presentation/balloon'
@import 'presentation/words'

#presentation
    padding-left: em(35)
    padding-right: em(35)

#scroll-to-intro
    position: absolute
    bottom: 35px
    left: 50%
    transform: translateX(-50%)
    color: $presentation-text-color
    font-size: em(32)
    animation: 3s infinite arrow-animation ease-in-out

@keyframes arrow-animation
    0%
        transform: translateY(0)
    50%
        transform: translateY(-15px)
    100%
        transform: translateY(0)


#presentation-text
    display: inline
    position: relative // For .hi-svg absolute position
    margin: 0 // Reset for h1 margins
    margin-left: 15px
    margin-right: 15px
    text-align: left // Overrides .presentation text-align
    font-family: 'Lobster Two', cursive
    color: $presentation-text-color
    line-height: 1.5

    @media only screen and (min-width: 375px)
        font-size: em(38)
    @media only screen and (min-width: 425px)
        font-size: em(52)

//@media (min-width: 360px)
//    font-size: rem(44.8)
//@media (min-width: 768px)
//    font-size: rem(50)
//@media (min-width: 980px)
//    font-size: rem(60)
//@media (min-width: 1280px)
//    font-size: rem(70)
//@media (min-width: 1360px)
//    font-size: rem(80)