@import 'vars'
@import 'grid'
@import 'reset'
@import 'utils'

html,
body,
main
  height: 100%

body
  font-family: $font-family-primary
  font-size:   $base-font-size
  line-height: $base-line-height