section {
    margin: 100px 0;
    width: 100%;
}

article {
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    height: 20%;
    background-color: #FFF;
    box-shadow: 0 0 4px #e3e3e3;
    border-radius: 5px;
    overflow: hidden;
}

article > div {
    padding: 40px;
}

article .left {
    color: #434343;
    line-height: 1.6;
}

article .right {
    background-color: #242424;
}

article .left a {
    /*background-color: #69775d;
    color: #fff;*/
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
}
