section#git.git.section
    form#git--form.git--form
        h1.section--title Get in touch!
        h1
            span.git--smile.fa.fa-smile-o

        input.git--form--item.git--form--input(name="name" required="required" placeholder="What's your name?" minlength="2")
        input.git--form--item.git--form--input(name="email" required="required" placeholder="Your e-mail address" type="email")

        textarea.git--form--item.git--form--textarea(name="message" required="required" placeholder="Leave a message..." minlength="3")

        button#git-submit-btn.git--form--item(type="submit" form="#git--form") Talk to me