footer.footer
    ul.social.list-unstyled
        each social, index in socials
            li
                a(href=social.address title=index target="_blank")
                    span.fa(class="fa-" + social.icon)