footer.footer
    .container
        ul.footer__socials
            each social, index in socials
                li
                    a.footer__social__link.footer__link(href=social.address title=index target="_blank")
                        span.fa(class="fa-" + social.icon)

        a.footer__email.footer__link(href="mailto://eleandro@inbox.ru") eleandro@inbox.ru