/**!
  # INTRO
 ************************************/

.introduction
  &__words
    .is-active
      opacity: 1 !important





/**!
  # PRESENTATION
 ************************************/
.presentation
  &__name
    &__tooltip
      &.is-visible
        visibility: visible
        opacity:    1
        transform:  translateY(0)
        
  &__link
    &.left
      margin-right: 3px

    &.right
      margin-left: 3px