/**!
  # INTRO
 ************************************/

.introduction
  &--words
    .is-active
      opacity: 1 !important





/**!
  # PRESENTATION
 ************************************/
.presentation
  &--name
    &--tooltip
      &.is-visible
        visibility: visible
        opacity:    1
        transform:  translateY(0)
        
  &--link
    &.left
      margin-right: 3px

    &.right
      margin-left: 3px