section#projects.projects.section
    .container
        h1.projects__title.section__title My projects

        .row
            each project in projects
                .project__item
                    a(href=project.address target="_blank").project__item__name #{project.name}

                    p.project__item__description #{project.description}