section#get-in-touch.get-in-touch.section
    form#get-in-touch__form.get-in-touch__form
        h1.section__title Get in touch!
        h1
            span.get-in-touch__smile.fa.fa-smile-o

        input.get-in-touch__form__item.get-in-touch__form__input(name="name" required="required" placeholder="What's your name?" minlength="2")
        input.get-in-touch__form__item.get-in-touch__form__input(name="email" required="required" placeholder="Your e-mail address" type="email")

        textarea.get-in-touch__form__item.get-in-touch__form__textarea(name="message" required="required" placeholder="Leave a message..." minlength="3")

        button#get-in-touch__submit-button.get-in-touch__form__item(type="submit" form="#get-in-touch__form") Talk to me