/**!
  * #SECTION: Represents a section in the page.
  */ 
.section
  padding-top:    2rem
  padding-bottom: 2rem
      
  /**!
    #STYLES FOR SECTION HEADER
   */
  &--title
    margin:        0
    margin-bottom: 1rem
    font-size:     2.125em
    font-weight:   normal

    
  &--description
    font-size: 1em

  @media only screen and (min-width: $bp-small)
    &--title
      font-size: 3em

    &--description
      font-size: 1.2rem