.header
  margin-bottom: 2rem

  &__title
    display:       inline-block
    color:         #888
    font-size:     1.25rem
    margin-bottom: 0

  &__link
    text-decoration: none
    transition:      $transition-time

  &--flex
    display:         flex
    flex-direction:  row
    justify-content: space-between
    align-items:     center
