.header
  margin-bottom: 1.5rem

  &__title
    display: inline-block

  &__link
    text-decoration: none
    transition:      $transition-time

  &--flex
    display:         flex
    flex-direction:  row
    justify-content: space-between
    align-items:     center
