footer.footer
  .container
    .quote__wrapper
      .quote
        p Some people see things; and say “Why?”
        p But I dream things that never were; and I say “Why not?”
      a.quote__author(href="https://en.wikipedia.org/wiki/George_Bernard_Shaw" title="George Bernard Shaw" target="__blank") George Bernard Shaw