footer.footer
  .container
    ul.socials
      each social in socials
        li.socials__item
          a.socials__item__link(href=social.address title=social.name target="_blank" rel="noopen noreffer")
            i.fa.fa-2x(class='fa-' + social.icon)