section.get-in-touch.section
  .container
    header.header
      h2.header__title Let's talk

      p.header__text So are you looking for a <b>SOLID</b>, communicative &amp; professional software developer with extensive full-stack web development skills for your next project?

    //-p If you have an application you are interested in developing with web technology, I’d love to work with you on it.

    //-p I’m a full-stack developer which means I can bring your project from <b>concept to completion</b>. I work primarily with <b>Laravel</b> and <b>Node.js</b> on the back-end and <b>Vue.js</b> on the front-end, but picking up new frameworks or languages isn't a problem.

    //-a(href='mailto://' + my.email title=my.email)=my.email

    form.get-in-touch__form
      .form__input-wrapper
        input(placeholder="Your name here!" required="required" minlength="2" maxlength="70")
      .form__input-wrapper
        input(placeholder="Email..." required="required" minlength="2" maxlength="70" type="email")
      .form__input-wrapper
        input(placeholder="Subject...")
      .form__input-wrapper
        textarea(placeholder="Message..." required="required" minlength="2")