section.get-in-touch.section
  .container
    header.header
      h2.header__title Get In Touch

      p.header__text Are you looking for a communicative &amp; professional software developer with extensive full-stack web development skills for your next project or just want to leave a message?

    //-p If you have an application you are interested in developing with web technology, I’d love to work with you on it.

    //-p I’m a full-stack developer which means I can bring your project from <b>concept to completion</b>. I work primarily with <b>Laravel</b> and <b>Node.js</b> on the back-end and <b>Vue.js</b> on the front-end, but picking up new frameworks or languages isn't a problem.

    //-a(href='mailto://' + my.email title=my.email)=my.email

    .row
      form#get-in-touch__form.get-in-touch__form
        .form__item
          input.form__input(placeholder="Your name" required="required" minlength="2" maxlength="70")
        .form__item
          input.form__input(placeholder="Your E-mail" required="required" minlength="2" maxlength="70" type="email")
        .form__item
          textarea.form__input.get-in-touch__form__message-textarea(placeholder="Your message" required="required" minlength="2")

        button.form__submit-button.button.primary.get-in-touch__form__submit-button(type="submit" form="get-in-touch__form")
          |Send