section.hire-me
  .container
    header.header
      h2.header__title Hire me

    p So are you looking for a dynamic, communicative & professional software developer with extensive full-stack web development skills for your next project?</p>

    p If you have an application you are interested in developing with web technology, I’d love to work with you on it. I’m a full-stack developer which means I can bring your project from <b>concept to completion</b>. I work primarily with <b>Laravel</b> and <b>Node.js</b> on the back-end and <b>Vue.js</b> on the front-end, but picking up

    a(href="mailto://eleandro@inbox.ru")