section#intro.intro
  .container
    header
      h1.intro__title
        |Hey! I can help you build your next product
      h2.intro__subtitle
        p I'm Eleandro Duzentos, a web designer from Angola, Luanda
        p I design, build and manage full-stack web applications

    a#btn-talk-to-me.button.primary(href='mailto://' + my.email title=my.email role="button") Let's talk

    a(href="#what-i-can-do")#goToWhatICanDo
      i.fa.fa-angle-down