section.intro
  .container
    header
      h1.intro__title
        |Hey! I'm a web developer from Angola, Luanda.
        br
        |I can help you build your next product
      h2.intro__subtitle
        p I design, build and sometimes manage full-stack web applications.
        p Have a project you'd like to discuss?
        p
          |Let's chat, 
          a(href='mailto://' + author.email title=author.email)=author.email

    a(href="#what-i-can-do")#goToWhatICanDo
      i.fa.fa-angle-down