nav.nav
  .container-fluid
    header.nav__header
      a.nav__brand(href="/" title=full_name)=full_name
      span.nav__brand__subtitle=subtitle

    .nav__wrapper
      a.nav__link(href="/start-project") Start a project