nav.navigation
  .container
    header.navigation__brand
      a.navigation__brand__name(href="/" title=author.name)=author.name
      span.navigation__brand__area=author.job_title

    a.navigation__link(href="/start-project" title="Start a project") Start a project