nav.navigation
  .container
    header.navigation__brand
      a.navigation__brand__name(href="/" title=brand.full_name)=brand.full_name
      span.navigation__brand__area=brand.job_title

    a.navigation__link(href="/start-project") Start a project