section#what-i-can-do.what-i-can-do
  .container
    header.header
      h2.header__title What I can do

    .row
      each item in what_i_can_do.items
        .what-i-can-do__item
          .card
            header.card__head
              i.fa.fa-5x(class='fa-' + item.icon)
            .card__body
              header.card__header
                h2.card__header__title=item.title
                p.card__header__description=item.description