@import './vars';
@import './animations';
@import './fonts';
@import './imports';
@import './navigation';

body {
  background-color: $body-bg;
  font-family:      $font-family;
  font-size:        $font-size-base;
  line-height:      1.5;
}
