script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js")

script(src="assets/dist/js/master.js")