section#presentation.presentation.section
    .container
        img(src="assets/dist/img/e200.jpg").presentation__picture
        
        h1.section__title.presentation__title
            |Yes, that's me! 

            br.presentation__breaker

            a(href="#").presentation__name
                |#{full_name}

                .presentation__name__tooltip My last name means "200" in portuguese! 😊

            
        
        p.section__description A Developer and Web Designer based in Luanda, Angola
        p.section__description I design solutions for the web and help people building better UIs

        a(href="about.html" target="_blank").presentation__link.left More about me
        a(href=presentation.cvUrl target="_blank").presentation__link.right Donwload CV