section#presentation.presentation.section.section__full.section__flex.text-center
    .container
        img(src="assets/dist/img/me.jpg").presentation--picture
        
        h1.section--title.presentation--title
            |Yes, that's me! 
            span.presentation--name #{full_name}
        
        p.section--description
            |A Developer and Web Designer based in Luanda, Angola
            br
            |I design solutions for the web and help people building better UIs

        a(href="#" target="_blank").presentation--link.presentation--link__left More about me
        a(href="#" target="_blank").presentation--link.presentation--link__right Donwload CV